@charset "utf-8";
body {
	margin: 0px;
	font-size: 12px;
	min-width: 1200px;
	font-family: "微软雅黑";
	color: #000000;
}
.head .tou {
	background-color: #45A73A;
	width: 100%;
	height: 40px;
}
.head .tou .wz {
	width: 1160px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	line-height: 40px;
	font-size: 14px;
	color: #FFFFFF;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tou .wz .iconfont.icon-rexian {
	margin-right: 10px;
}
.head .tou .wz2 {
	float: left;
}
.tou .wz .wz2.cz {
	margin-left: 20px;
}
.tou .wz .kh {
	float: right;
}
.head .daohang {
	height: 110px;
	background-color: #FFFFFF;
	width: 100%;
}
.head .daohang .nr {
	width: 1160px;
	height: 110px;
	margin-left: auto;
	margin-right: auto;
}
.daohang .nr .logo {
	width: 232px;
	height: 110px;
	float: left;
}
.daohang .nr .anniu {
	float: right;
	margin-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	line-height: 40px;
	color: #000000;
	font-size: 16px;
	margin-left: 10px;
	font-weight: 600;
}


.daohang .nr .anniu:hover  {
	color: #FFFFFF;
	background-color: #E3B92D;

}

.daohang .nr .anniu.on {
	color: #FFFFFF;
	background-color: #45A73A;
}





*{
	padding: 0;
	width: auto;
	}
	html,body{
		height: 100%;
	}
	#container {
			width: 100%;
			height: 500px;
			overflow: hidden;
	}
	.sections,.section {
		height:100%;
	}
	#container,.sections {
	position: relative;
	height: 589px;
	border-bottom: 10px solid #45A73A;
	}
	.section {
		background-color: #000;
		background-size: cover;
		background-position: 50% 50%;
		text-align: center;
		color: white;
	}
	#section0 {
	background-image: url(../images/img/banner1.png);

	}
	#section1 {
	background-image: url(../images/banner2.png);

	}
	#section2 {
	background-image: url(../images/banner3.png);

	}
	#section3 {
	background-image: url(../images/banner4.png);

	}
.cpzs {
	width: 100%;
	height: 650px;
	background-image: url(../images/bg3.jpg);
	background-position: center center;
	background-size: cover;
	position: relative;
}
.biaoti {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding-top: 40px;
}
.fubiaoti {
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 40px;
	color: #595757;
}
.biaoti .yanse {
	color: #45A73A;
}
.cpzs .cptp {
	width: 1160px;
	height: 360px;
	margin-left: auto;
	margin-right: auto;
}
.cpzs .cptp .tp {
	width: 280px;
	height: 280px;
	overflow-x: hidden;
	overflow-y: hidden;

}
.cptp .tp img {
	width: 100%;
	height: 100%;
}

.cpzs .cptp .tp:hover {
	width: 270px;
	height: 270px;
	overflow-x: hidden;
	overflow-y: hidden;
	border: 5px solid #45A73A;
}



.cpzs .cptp .tupnr {
	float: left;
	height: 360px;
	width: 280px;
	margin-right: 13px;
	color: #000000;
}
.cptp .tupnr .mc {
	text-align: center;
	font-size: 16px;
	line-height: 80px;
	height: 80px;
}
.cpzs .cptp .tupnr.last {
	margin-right: 0px;
}
.cpzs .genduocp {
	width: 130px;
	height: 40px;
	background-color: #45A73A;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	font-size: 16px;
	float: left;
	position: absolute;
	margin-left: 50%;
	left: -65px;
	top: 550px;
}

.cpzs .genduocp:hover {
	background-color: #E3B92D;
	color: #FFFFFF;
}





.guanyujp {
	height: 590px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}
.guanyujp .jinpin {
	width: 550px;
	height: 140px;
	float: left;
	margin-bottom: 60px;
	border-bottom: 1px solid #DCDDDD;
}

.guanyujp .jinpin:hover {
	border-bottom: 1px solid #45A73A;
}



.guanyujp .jinpin .tb {
	width: 70px;
	height: 90px;
	float: left;
}
.guanyujp .jinpin .bt {
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 10px;
	color: #000000;
}
.guanyujp .jinpin .nr {
	line-height: 26px;
	color: #595757;

}
.guanyujp .jinpin .rihgt {
	float: right;
	width: 460px;

}
.guanyujp .jinpin.right {
	margin-left: 40px;
}
.foot {
	width: 100%;
	height: 300px;
	background-color: #626262;
}
.foot .nr {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
}
.foot .nr .logo {
	height: 300px;
	float: left;
}
.nr .logo .tp {
	height: 100px;
	width: 270px;
	border-right: 1px solid #dcdddd;
	margin-top: 106px;
}
.foot .nr .ksrk {
	width: 240px;
	height: 300px;
	float: left;
}
.nr .ksrk .bt {
	margin-top: 40px;
	height: 66px;
	line-height: 66px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 35px;
}
.nr .ksrk .nrfy {
	margin-left: 35px;
	color: #FFFFFF;
	font-size: 14px;
	float: left;
	line-height: 34px;
}
.nr .ksrk .rukou {
	height: 100px;
	border-right: 1px solid #DCDDDD;
}
.foot .nr .erweima {
	width: 334px;
	float: left;
	height: 300px;
}
.nr .erweima .bt {
	margin-top: 40px;
	height: 66px;
	line-height: 66px;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 35px;
}
.nr .erweima .rukou {
	height: 100px;
	width: 334px;
	border-right: 1px solid #DCDDDD;
	overflow-y: hidden;
}
.erweima .rukou .erwm {
	width: 100px;
	height: 100px;
	margin-left: 35px;
	float: left;
}
.nr .erweima .mcsm {
	margin-left: 35px;
	width: 100px;
	text-align: center;
	color: #FFFFFF;
	line-height: 50px;
	float: left;
}
.nr .ksrk .rukou.lx {
	margin-left: 35px;
	border-right-style: none;
	color: #FFFFFF;
	line-height: 30px;
}
.foot .nr .ksrk.lx {
	width: 312px;
}
.difoot {
	height: 70px;
	width: 100%;
	background-color: #2b2b2b;
}
.difoot .nr {
	width: 1160px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}
.difoot .nr .left {
	float: left;
	line-height: 70px;
	font-size: 12px;
	color: #FFFFFF;
}
.difoot .nr .right {
	float: right;
	line-height: 70px;
	font-size: 12px;
	color: #FFFFFF;
}
body a {
	text-decoration: none;
}

.mod_qr {
	display: inline;
	position: fixed;
	margin-right: 20px;
	margin-top: 20px;
	right: 10px;
	top: 90px;
	z-index: 10;
}
.mod_qr .mod_qr_bd {
	cursor: pointer;
	text-align: center;
	width: 94px;
	color: #6c6c6c;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	text-decoration: none;
	background-color: #FFFFFF;
	display: inline-block;
	height: 215px;
}
.mod_qr .mod_qr_bd span {
display: block;
height: 20px;
line-height: 20px;
overflow: hidden;
margin: 4px auto 0;
width: 78px;
color: #333!important;
cursor: pointer;
text-align: center;
}
.mod_qr .mod_qr_bd img {
display: block;
margin-left: 8px;
width: 80px;
height: 80px;
vertical-align: bottom;
}
.mod_qr .fixed_qr_close {
	position: absolute;
	top: 0;
	left: -19px;
	display: block;
	width: 18px;
	height: 18px;
	border: 1px solid #e8e8e8;
	background-color: #FFFFFF;
}
.mod_qr .fixed_qr_close s {
width: 11px;
height: 11px;
margin-left: 4px;
margin-top: 4px;
}
.qricon {
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
zoom: 1;
text-indent: -3000px;
_text-indent: 0;
_font-size: 0;
}
.s_s_close {
	background-image: url(../images/TB1FEpXGXXXXXa4XXXXyTkXLpXX-500-444.png);
	background-position: -154px -364px;
}
*html .mod_qr {
	_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,100)||0)-40));
	_bottom:auto;
	_position:absolute;
}
.mod_qr .mod_qr_bd .h.sf {
	margin-top: 40px;
}
.banner {
	height: 280px;
	width: 100%;
	background-image: url(../images/img/news_02.png);
	background-position: center center;
	background-size: cover;
}
.banner .nr {
	width: 1160px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
}
.banner .nr .lanmu {
	margin-top: 90px;
	width: 280px;
	height: 80px;
	float: left;

}
.banner .nr .mbx {
	float: left;
	clear: left;
	margin-top: 64px;
	height: 46px;
	background-color: rgba(0,0,0,0.50);
	line-height: 46px;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: hidden;
}
.nr .mbx .yuan {
	color: #E3B92D;
	margin-right: 10px;
}
.neironye {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 600px;
}
.neironye .daohanglan {
	width: 240px;
	margin-top: 20px;
	float: left;
}
.neironye .daohanglan .bt {
	height: 70px;
	border-bottom: 1px solid #DCDDDD;

}
.daohanglan .bt .zw {
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 70px;
	margin-left: 20px;
}
.daohanglan .bt .yw {
	float: left;
	font-size: 14px;
	line-height: 70px;
	margin-left: 10px;
	color: #898989;
}
.neironye .daohanglan .lm {
	height: 48px;
	border-bottom: 1px solid #DCDDDD;
	font-size: 14px;
	line-height: 48px;
	margin-left: 0px;
	padding-left: 20px;
	color: #000000;
}

.neironye .daohanglan .lm:hover{
	border-bottom: 1px solid #45A73A;
}

.neironye .daohanglan .lm.on {
	color: #45A73A;
}
.neironye .neirongxx {
	width: 900px;
	float: right;
	margin-top: 40px;
}
.neironye .neirongxx .xw {
	width: 880px;
	height: 180px;
	margin-left: auto;
	border: 1px solid #DCDDDD;
	color: #000000;
}

.neironye .neirongxx .xw:hover {
	border: 1px solid #45A73A;
}


.neirongxx .xw .lefttp {
	width: 188px;
	height: 128px;
	margin: 25px;
	overflow-x: hidden;
	overflow-y: hidden;
	float: left;
}
.neirongxx .xw .bt {
	font-size: 16px;
	font-weight: 500;
	margin-top: 20px;
	line-height: 40px;

}
.neirongxx .xw .nrzt {
	height: 60px;
	overflow-x: hidden;
	overflow-y: hidden;
	color: #595757;
	line-height: 20px;


}
.neirongxx .xw .xqnr {
	float: right;
	width: 620px;
	margin-right: 20px;

}
.xw .xqnr .time {
	margin-top: 14px;
}
.neironye .neirongxx .fenyebq {
	margin-top: 40px;
	margin-bottom: 80px;
	height: 38px;
	margin-right: auto;
	width: 300px;
	margin-left: auto;

}
.neirongxx .fenyebq .bq {
	background-color: #EFEFF0;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	border-radius: 5px;
	font-size: 14px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	color: #000000;
}


.neirongxx .fenyebq .bq:hover {
	background-color: #45A73A;
	color: #FFFFFF;
}






.neirongxx .fenyebq .bq.on {
	background-color: #45A73A;
	color: #FFFFFF;
}
.banner.about {
	background-image: url(../images/img/about.png);
}
.neironye .neirongxx .qyjs {
	width: 450px;
	margin-left: 25px;
	margin-top: 25px;
	font-size: 13px;
	line-height: 28px;
	text-indent: 30px;
	float: left;
}
.neirongxx .qyjs .jx {
	font-weight: 600;
	text-indent: 0px;
	line-height: 40px;
}
.neironye .neirongxx .right {
	float: right;
	width: 356px;
	height: 240px;
	margin-right: 25px;
	margin-top: 30px;
}
.neironye .neirongxx.about {
	margin-bottom: 60px;
}
.banner.product {
	background-image: url(../images/img/product_02.png);
}
.neironye .neirongxx.product .cp {
	width: 268px;
	height: 366px;
	border: 1px solid #DCDDDD;
	margin-left: 30px;
	margin-bottom: 30px;
	float: left;
	color: #000000;
}

.neironye .neirongxx.product .cp:hover {
	border: 1px solid #45A73A;
}


.neirongxx.product .cp .tp {
	width: 236px;
	height: 236px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 16px;
}
.neirongxx.product .cp .wzms {
	height: 90px;
	width: 236px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-bottom: 1px solid #DCDDDD;
	background-color: #F8F8F8;
}
.cp .wzms .mc {
	margin-left: 20px;
	margin-top: 20px;
	font-size: 14px;
	float: left;
}
.cp .wzms .gg {
	float: left;
	clear: left;
	margin-left: 20px;
	margin-top: 10px;
	color: #45A73A;
	font-size: 14px;
}
.neironye .neirongxx.product .cpxxzx {
	overflow-y: hidden;
	overflow-x: hidden;
}
.banner.technology {
	background-image: url(../images/img/technology_02.png);
}
.neironye .zpwz {
	margin-left: 10px;
	margin-right: 10px;
	width: 268px;
	height: 372px;
	margin-top: 40px;
	border: 1px solid #DCDDDD;
	float: left;
	color: #000000;
}


.neironye .zpwz:hover {
	border: 1px solid #45A73A;
	}


.neironye .zpwz .tp {
	width: 268px;
	height: 190px;
	overflow-x: hidden;
	overflow-y: hidden;
}
.neironye .zpwz .bt {
	margin: 20px;
	font-size: 16px;
}
.neironye .zpwz .time {
	margin-left: 20px;
	margin-top: -10px;
	margin-right: 20px;
	color: #898989;
}
.neironye .zpwz .nr {
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 20px;
	line-height: 20px;
	color: #595757;
	overflow-x: hidden;
	overflow-y: hidden;
}
.neironye .wzlb {
	overflow-x: hidden;
	overflow-y: hidden;
}
.neironye .fenyebq {
	margin-top: 40px;
	margin-bottom: 80px;
	height: 38px;
	margin-right: auto;
	width: 300px;
	margin-left: auto;
}
.neironye .fenyebq .bq {
	background-color: #EFEFF0;
	width: 38px;
	height: 38px;
	text-align: center;
	border-radius: 5px;
	line-height: 38px;
	font-size: 14px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	color: #000000;
}
.neironye .fenyebq .bq.on {
	background-color: #45A73A;
	color: #FFFFFF;
}


.neironye .fenyebq .bq:hover {
	background-color: #45A73A;
	color: #FFFFFF;
}.banner.contact {
	background-image: url(../images/img/contact_02.png);
}
.neironye .neirongxx.contact {
	font-size: 14px;
	line-height: 34px;
	padding-left: 20px;
	width: 840px;
	padding-right: 20px;
	padding-top: 20px;
}
.neironye .neirongxx.contact .ditu {
	border: 10px solid #DCDDDD;
}



		.my-map { margin: 0 auto; width: 820px; height: 480px; }
		.my-map .icon { background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat; }
		.my-map .icon-cir { height: 31px; width: 28px; }
		.my-map .icon-cir-red { background-position: -11px -5px; }
		.amap-container{height: 100%;}.neironye .neirongxx.contact .lxfs {
	margin-top: 40px;
	margin-bottom: 60px;
}
.neironye .daohanglan.details {
	float: right;
	width: 286px;
}
.neironye .neirongxx.details {
	float: left;
	width: 820px;
}
.neironye .neirongxx.details .bt {
	font-size: 24px;
}
.neirongxx.details .time .laiy {
	margin-left: 20px;
}
.neironye .neirongxx.details .time {
	margin-top: 10px;
	font-size: 14px;
	color: #595757;
	line-height: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid #DCDDDD;
}
.neironye .neirongxx.details .xwnr {
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	font-size: 13px;
	line-height: 30px;
	padding-bottom: 40px;
}
.neirongxx.details .xwnr .tp {
	text-align: center;
}
.neirongxx.details .xwnr .nr {
	text-indent: 30px;
	text-align: justify;
	font-size: 14px;
}
.neirongxx.details .xwnr .fenxiang {
	margin-top: 20px;
	font-size: 14px;
	line-height: 40px;
	color: #898989;
	margin-bottom: 60px;
}
.daohanglan.details .bt .rmxw {
	float: left;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
	border-left: 5px solid #EA5532;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom-style: none;
}
.neironye .daohanglan.details .lm.bt {
	border-bottom-style: none;
	padding-left: 0px;
	line-height: 40px;
	height: 40px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.neironye .daohanglan.details .lm.bt:hover {
	color: #898989;
}






.neironye .daohanglan.details .bt.rm {
	border-bottom-style: none;
}
.daohanglan.details .lm.bt .dian {
	float: left;
	width: 5px;
	height: 5px;
	margin-top: 18px;
	background-color: #9FA0A0;
	margin-right: 10px;
}
.neironye .neirongxx.details .fenxiang {
	padding-left: 20px;
	margin-bottom: 60px;
}
.neironye .neirongxx.product.details {
	float: right;
	width: 856px;
}
.neirongxx.product.details .cpgg .tp {
	float: left;
	width: 300px;
	height: 300px;
	border: 1px solid #DCDDDD;
}
.neironye .neirongxx.product.details .cpgg {
	overflow-x: hidden;
	overflow-y: hidden;
}
.neirongxx.product.details .cpgg .xinxi {
	width: 520px;
	float: right;
}
.cpgg .xinxi .btxx {
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
}
.cpgg .xinxi .guige {
	font-size: 14px;
	color: #45A73A;
	margin-bottom: 30px;
}
.cpgg .xinxi .cpms {
	border-bottom: 1px solid #DCDDDD;
	margin-top: 30px;
}
.xinxi .cpms .lx {
	font-size: 14px;
	margin-bottom: 10px;
}
.xinxi .cpms .sm {
	line-height: 20px;
	color: #595757;
	margin-bottom: 20px;
}
.neironye .neirongxx.product.details .ewmsmgm {
	height: 140px;
	border: 2px solid #45A73A;
	margin-top: 40px;
	line-height: 140px;
	font-size: 20px;
	text-align: center;
	background-color: #F8F8F8;
	margin-bottom: 20px;
}
.neirongxx.product.details .ewmsmgm .ewm {
	width: 120px;
	height: 120px;
	float: right;
	margin-right: 40px;
}
.neironye .neirongxx.product.details .spxqwb {
	width: 100%;
	margin-bottom: 60px;
}
.wz .wz2.cz .iconfont.icon-icon {
	margin-right: 5px;
}
.neirongxx.details .time .iconfont.icon-shijian {
	margin-right: 5px;
}
.xqnr .time .iconfont.icon-shijian {
	margin-right: 5px;
}
.zpwz .time .iconfont.icon-shijian {
	font-size: 12px;
	margin-right: 5px;
}
.neirongxx.product.details .ewmsmgm .iconfont.icon-iconfontweixin {
	font-size: 20px;
	color: #45A73A;
	margin-right: 5px;
}
.neirongxx.product.details .ewmsmgm .iconfont.icon-iconfontzhizuobiaozhun47 {
	font-size: 40px;
	float: right;
	margin-right: 30px;
}
