.btn-primary{background-color:#1C7113 !important;border-color:#1C7113 !important;}
.label-primary{background-color:#1C7113 !important;}
.current{background-color:#1C7113 !important;}
.page-header{color:#4FAB45 !important;}